* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ====== MALI FONT VARIABLER ====== */
  --font-mali: "Mali", cursive;

  --mali-extralight: 200;
  --mali-light: 300;
  --mali-regular: 400;
  --mali-medium: 500;
  --mali-semibold: 600;
  --mali-bold: 700;

  /* ====== CHERRY BOMB ONE VARIABLER ====== */
  --font-cherry: "Cherry Bomb One", system-ui;
  --cherry-regular: 400;
}
