* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primære skrifttyper */
  --font-secondary: "Mali", cursive;
  --font-primary: "Cherry Bomb One", system-ui;

  /* ====== MALI FONT VARIABLER ====== */
  --font-mali: "Mali", cursive;

  --mali-extralight: 200;
  --mali-light: 300;
  --mali-regular: 400;
  --mali-medium: 500;
  --mali-semibold: 600;
  --mali-bold: 700;

  /* ====== CHERRY BOMB ONE VARIABLER ====== */
  --font-cherry: "Cherry Bomb One", system-ui;
  --cherry-regular: 400;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

/* Knapper */
.cta {
  border-radius: 24px;
  border: none;
  padding: 24px;
  font-family: var(--font-primary);
  letter-spacing: 0.2rem;
  background-color: ;
}

.hidden {
  display: none;
}
