* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
:root {
  /* Primære skrifttyper */
  --font-secondary: "Mali", cursive;
  --font-primary: "Cherry Bomb One", system-ui;

  /* ====== MALI FONT VARIABLER ====== */
  --font-mali: "Mali", cursive;

  --mali-extralight: 200;
  --mali-light: 300;
  --mali-regular: 400;
  --mali-medium: 500;
  --mali-semibold: 600;
  --mali-bold: 700;

  /* ====== CHERRY BOMB ONE VARIABLER ====== */
  --font-cherry: "Cherry Bomb One", system-ui;
  --cherry-regular: 400;

  /* Farver  */
  --color--background: #cff7ff;
}

h1 {
  font-family: var(--font-primary);
  letter-spacing: 0.2em;
}

html,
body {
  height: 100%;
  background-color: var(--color--background);
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 30px;
}

/* Knapper */
.cta {
  border-radius: 24px;
  border: none;
  padding: 24px;
  font-family: var(--font-primary);
  letter-spacing: 0.2rem;
  background-color: ;
  cursor: pointer;
}

.hidden {
  display: none;
}
